

/* heading */
#header {
  height: 42px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  padding-right: 50px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  white-space: nowrap;
  float: left;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #202F6A;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    height: 60px;
    padding: 8px 0;
  }
}

/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  padding: 8px 0 12px 0;
  transition: 0.3s;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.nav-menu > ul > li + li {
  margin-left: 30px;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #1bac91;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #202F6A;
  font-weight: bold;
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #000;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #21413c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #1bac91;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(16, 31, 29, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



/*  Job and vacancies text   */

#search {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgb(7,15,79);
}

.search-job-vacancies h2 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  padding-right: 50px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
.search-jobs{
 text-align: center;

}
.search-jobs input{
  font-size: 25px;
  border-radius: 10px;
  padding: 0;
  text-shadow: rgba(255,255,255,.1);

}

.search-jobs a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  padding: 5px 50px 5px;
  background-color: #0CC8CB;
  border-radius: 10px;
}


/*  side menu   */

#side-menu{
  width: 130px;
  height: 440px;
  position: fixed;
  left:10px;
  background:#eee;
  overflow-x: hidden;
  padding: 8px 0;
}

/*  Button increase and decrease   */

#button-increase{
  /*text-align: center;*/
  margin-top: 30px;
  margin-left: 400px;
  padding-bottom: 0;
  padding: 10px;

}

.increase-decrease input{
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;

}

.increase-decrease input:hover{
  background-color: rgba(0, 0, 0,.5);
  font-size: 20px;
}


/*  feedback  */

#feedback-menu{
  margin-left: 96%;
  background-color: rgba(0,0,0,.1);
  border-left: 6px solid #0CC8CB;
  position: sticky;
}

.feedback a{
  padding: 10px;
 writing-mode: vertical-rl; 
 text-decoration: none;
 font-size: 20px;
 color: darkblue;
}

/*  Main middle field (job options/suggestions)*/

#Job-suggestions{
  margin-top: -5%;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fff;
   box-shadow:0px 2px 15px  rgba(0,0,0,.2);
}
#Job-suggestions:hover{
  box-shadow:0px 2px 15px  rgba(57, 174, 255,.9);
}
.job-name{
  font-size: 20px;
  color:blue;
}

.job-description span{
  font-size: 20px;
  padding: 15px;
}

/*  Feedback form   */
#FeedbackForm{
  display: none;
  position: fixed;
  border: 3px solid #000;
  text-align: right;
  margin-left: 35%;
  margin-top: -20%;
  padding: 40px;
  background-color: white;
}

.Formfeedback h1{
  text-align: center;
  color: rgb(7,15,79);
  border-bottom: 1px solid #000;

}

.Formfeedback select{
  font-size: 16px;
  padding-right: 20px;
  color: rgb(7,15,79);
  font-weight: bold;

}

.Formfeedback option{
 direction: rtl;  
}

.Formfeedback p{
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.Formfeedback ul li{
  list-style: none;
  text-align: center;
  padding: 10px;
  border:1px solid #ddd;
  font-size: 20px; 

}

.Formfeedback button{
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 2px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

.Formfeedback button:hover{
  background-color: #fff;
  color:rgb(7,15,79);
  font-weight: bold;
  border: 2px solid rgb(7,15,79);
}

.Formfeedback ul li:hover{
  background-color: rgba(57, 174, 255,.9);
}

.Formfeedback a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px
  border-radius:100px;
  border: 1px solid #000; 
}
